/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
	position: relative;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans';
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}
h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}
h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}
h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}
a {
	color: black;
	text-decoration: none;
}
li:hover a:hover {
	color: #B1663C;
	font-weight: 700;
	cursor: pointer;
}
#introduction {
	display: flex;
	align-items: center;
	margin-bottom: 89px;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}
#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}
#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 0;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}
.gallery img {
	width: 100%;
}
#contact, #login {
	width: 50%;
	margin: auto;
}
#login {
	margin-top: 150px;
}
#contact > *, #login > * {
	text-align: center;

}
#contact h2, #login h2{
	margin-bottom: 20px;
}
#contact form, #login form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}
#contact input, #login input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label, #login label {
	margin: 2em 0 1em 0;
}
#contact textarea, #login textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}
input[type="submit"]:hover {
	transform: scale(1.05);
	cursor:pointer;
}
input[type="submit"]:active {
	transform: scale(1);
}
.mdpForget {
	font-family: 'Work Sans';
	font-weight: 500;
	font-size: 14px;
	text-decoration: underline;
}
footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}
.loginFooter {	
	position: fixed;
	width: 1140px;
	bottom: 0;
	margin: auto 0;
}

/**Ajout de style pour les boutons "mes projets"**/
.filters {
	display: flex;
	justify-content: center;
	gap: 10px;
}
.filtersButton {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 16px;
	color: #1D6154;
	min-width: 100px;
	margin: 51px 0;
	padding: 9px;
	border-radius: 25px;
	border: 1px solid #1D6154;
	background-color: white;
}
.filtersButton:hover {
	color: white;
	background-color: #1D6154;
	cursor:pointer;
}
.filtersButton:active {
	transform: scale(0.95);
}

/** Barre d'outil **/
.toolBar {
	display: none;
	z-index: 1;
	justify-content: center;
	align-items: center;
	gap: 21px;
	background-color: black;
	width: 100%;
	height: 59px;
	position: fixed;
	left: 0;
	top: 0;
}
.toolBar-activated {
	display: flex;
}
.toolBar-activated-bodyReplace {
	padding-top: 59px;
}

/** Bouton "publier les changements" **/
.postChangeBtn {
	font-family: 'Work Sans';
	font-weight: 500;
	font-size: 14px;
	color: #1D6154;
	width: 216px;
	padding: 11px;
	border-radius: 25px;
	border: 1px solid black;
	background-color: white;
}
.postChangeBtn:hover {
	cursor:pointer;
	color: white;
	background-color: #1D6154;
}
.postChangeBtn:active {
	transform: scale(0.95);
}

/** Bouton d'édition **/
.editBtn {
	display: none;
	justify-content: center;
	align-items: center;
	gap: 11px;
	background-color: black;
	font-family: 'Work Sans';
	color: white;
	border: none;
	font-size: 15px;
	font-weight: 400;
	padding: 0;
}
.editBtn:hover {
	transform: scale(1.03);
	cursor:pointer;
}
.editBtn:active {
	transform: scale(0.95);
}
.editBtn-activated {
	display:flex !important;
}

/** Bouton d'édition section intro **/
#introduction .editBtn {
	background-color: white;
	color: black;
	margin: 15px 0 0 57px;
}
#introduction .editBtn-style {
	margin: auto;
}

/** Bouton d'édition section portfolio **/
.project-title{
	display: flex;
	position: relative;
	justify-content: center;
}
#portfolio .editBtn {
	position: relative;
	align-items: center;
	left: 30px;
	background-color: white;
	color: black;
}
.filters-adminMode {
	display: none;
}
.gallery-adminMode {
	margin-top: 92px;
}

/** Style du conteneur modale **/
.modal {
	position: fixed;
	display: none;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background:rgba(0, 0, 0, 0.3);
	animation: fadeIn 0.8s both;
}
.modalActivated {
	display: flex;
}
.modalClosingAnimation{
	animation: fadeOut 1s both;
}
.modalContainer {
	position: relative;
	justify-content: center;
	align-items: center;
	display: flex;
	width: 630px;
	height: auto;
	background: white;
	border-radius: 10px;
}
.modalContainer h2 {
	font-family: 'Work Sans';
	font-size: 26px;
	font-weight: 400;
	color: black;
	margin-top: 60px;
	margin-bottom: 40px;
}
.modalLine {
	border-top: 1px solid #B3B3B3;
	width: 100%;
	margin-top: 47px;
	margin-bottom: 32px;
}

/** Animation modale **/
@keyframes fadeIn {
	from {
		opacity: 0;
	} to {
		opacity: 1;
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
	} to {
		opacity: 0;
	}
}

/** Bouton de Cloture modale **/
.modalClose {
	position: absolute;
	padding: 0;
	top: 32px;
	right: 36px;
	border: none;
	background-color: white;
}
.fa-navigate {
	font-size: 20px;
}
.fa-navigate:hover {
	transform: scale(1.2);
	cursor:pointer;
}
/** Bouton de Cloture modale **/
.modalBack {
	display: none;
	position: absolute;
	padding: 0;
	top: 32px;
	left: 36px;
	border: none;
	background-color: white;
}
.modalBack-on {
	display: flex;
}

/** Style de la modale Gallery **/
.modalGallery {
	display: flex;
	align-items: center;
	height: 100%;
	flex-direction: column;
	margin: 0 105px;
}
.modalGallery-off {
	display: none;
}
.gallery-modal {
	max-height: 374px;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 8px;
	grid-row-gap: 12px;
	overflow: hidden;
}
.gallery-modal:hover {
	overflow: overlay;
	z-index: 1;
	scrollbar-width: thin;
}
*::-webkit-scrollbar {
	width:5px;
}
*::-webkit-scrollbar-track {
	background: rgb(156, 156, 156);
}
*::-webkit-scrollbar-thumb {
	background-color: rgb(56, 56, 56);
}
.gallery-modal img {
	width: 100%;
}
.gallery-modal figcaption {
	font-family: 'Work Sans';
	font-size: 12px;
	font-weight: 400;
}

/** Bouton Modale **/
.modalBtn {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 14px;
	color: white;
	width: 237px;
	padding: 11px;
	border-radius: 25px;
	border: none;
	background-color: #A7A7A7;
}
.modalBtn:hover {
	cursor:pointer;
	color: white;
	background-color: #1D6154;
}
.modalBtn:active {
	transform: scale(0.95);
}

/** Bouton Supprimer la galerie **/
.allGallerieDelete {
	font-family: 'Syne';
	font-weight: 400;
	font-size: 13px;
	color: #D65353;
	background-color: white;
	border: none;
	margin-top: 23px;
	margin-bottom: 48px;
}
.allGallerieDelete:hover {
	transform: scale(1.05);
}
.allGallerieDelete:active {
	transform: scale(0.95);
}

/** Bouton Supprimer la photo **/
.fa-trash-can {
	font-size: 9px;
}
.deleteBtn {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 5px;
	right: 5px;
	padding: 4px;
	color: white;
	background-color: black;
	border: none;
}
.deleteBtn:hover {
	transform: scale(1.50);
}
.deleteBtn:active {
	color: #B1663C;
}

/** Style de la modale Nouvelle Photo **/
.modalNewPicture {
	display: none;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100%;
	margin: 0 105px;
}
.modalNewPicture-on {
	display: flex;
}
.addNewPictureBtn {
	margin-bottom: 55px;
}

/** Style Formulaire **/
.addNewPictureForm {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	width: 100%;
}

/** Formulaire image **/
.imageInputContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	width: 420px;
	background-color: #E8F1F7;
	border-radius: 3px;
}
.addImageVisualization {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	width: 100%;
}
.addImageVisualization-off {
	display: none;
}
.addImageVisualization .fa-image {
	font-size: 46px;
	color: #B9C5CC;
	margin-top: 28px;
	margin-bottom: 21px;
}
.addImageVisualization p {
	text-align: center;
	font-size: 10px;
	color: black;
	margin-bottom: 19px;
}
.addImageVisualization label {
	position: relative;
	transform: translateY(-25px);
	font-family: 'Work Sans';
	font-weight: 500;
	font-size: 14px;
	color: #306685;
}
.addImageVisualization label:hover {
	cursor:pointer;
}

/** Bouton Image **/
#imageInput {
	position: relative;
	color: #CBD6DC;
	width: 173px;
	padding: 11px;
	border-radius: 25px;
	border: none;
	background-color: #CBD6DC;
}
#imageInput::file-selector-button {
	display: none;
}
#imageInput:hover {
	cursor:pointer;
	transform: scale(1.02);
}
#imageInput:active {
	transform: scale(0.95);
}

/** Formulaire info image **/
.textInputContainer {
	display: flex;
	flex-direction: column;
	text-align: left;
	height: 100%;
	width: 100%;
}
.textInputContainer input, .textInputContainer select {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
.textInputContainer label {
	margin: 2em 0 1em 0;
}

/** Previsualisation image **/
.imagePreview {
	display: none;
}
.imagePreview-on {
	display: flex;
	justify-content: center;
	height: 169px;
}